body {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body,
ul {
    margin: 0;
    display: flex;
}

.header {
    background-color: #190e4f;
    color: #cfe8ef;
    display: flex;
    padding: 10px 70px;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #cfe8ef;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

#top-pic {
    width: 250px;
    margin: 20px 0px;
    height: auto;
}

.top-block {
    display: flex;
    justify-content: space-around;
    background-color: #190e4f;
    color: #e0f0f5;
    gap: 15px;
    padding: 40px 70px;
    align-items: flex-start;
}

h1 {
    color: #cfe8ef;
    size: 48px;
    margin-bottom: 0px;
}

.top-block p {
    font-size: 12px;
    margin-top: 0px;
}

.block-2 {
    background-color: #cfe8ef;
    text-align: center;
    color: #190e4f;
}

.fav-images {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.fav-images img {
    width: 150px;
    height: auto;
    border-radius: 5%;
    flex: 0 1 auto;
}

.featured {
    display: flex;
    flex-direction: column;
}

.fav-text {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.fav-text p {
    width: 150px;
    flex: 0 1 auto;
}

.quote {
    background-color: #0d5c63;
    color: #cfe8ef;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-self: center;
    text-align: center;
    width: 680px;
    flex: 0 1 auto;
}

#attribution {
    display: flex;
    width: 680px;
    justify-content: flex-end;
    font-weight: 700;
}

.cta-block {
    background-color: #cfe8ef;
    display: flex;
    justify-content: center;
    padding: 0px 70px;
}

.cta {
    background-color: #190e4f;
    color: #cfe8ef;
    width: 680px;
    margin: 50px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    gap: 15px;
}

.cta button {
    background-color: #190e4f;
    color: #cfe8ef;
    border: 1.5px #cfe8ef solid;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.left h4 {
    margin-bottom: 0px;
}

.left p {
    margin-top: 5px;
}

button {
    padding: 3px 15px;
}

.top-block button {
    background-color: #e89bb5;
    color: #190e4f;
    border-radius: 5px;
    border: none;
}

.footer {
    background-color: #0d5c63;
    color: #cfe8ef;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}