body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #190e4f;
    color: #cfe8ef;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #cfe8ef;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

#top-pic {
    width: 250px;
    margin: 20px 0px;
    height: auto;
}

.top-block {
    display: flex;
    justify-content: space-around;
    background-color: #190e4f;
    color: #e0f0f5;
    gap: 15px;
    padding: 10px 50px;
    align-items: flex-start;
}

h1 {
    color: #cfe8ef;
    size: 48px;
}

.top-block p {
    font-size: 16px;
}

.block-2 {
    background-color: #E89BB5;
    text-align: center;
    color: #190e4f;
}

.fav-images {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.fav-images img {
    width: 150px;
    height: auto;
    border-radius: 5%;
    flex: 0 1 auto;
}

.featured {
    display: flex;
    flex-direction: column;
}

.fav-text {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.fav-text p {
    width: 150px;
    flex: 0 1 auto;
}

.quote {
    background-color: #CFE8EF;
    color: #0D5C63;
    padding: 50px;
}

.center {
    display: flex;
    justify-self: center;
    text-align: center;
    width: 680px;
    flex: 0 1 auto;
}

#attribution {
    display: flex;
    width: 680px;
    justify-content: flex-end;
    font-weight: 700;
}

.cta-block {
    background-color: #E89BB5;
    display: flex;
    justify-content: center;
}

.cta {
    background-color: #190e4f;
    color: #cfe8ef;
    width: 680px;
    margin: 50px;
    border-radius: 20px;
    padding: 0px 20px 15px 20px;
    font-size: 12px;
}